* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}

img {
    max-width: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif, "Mona Sans";
    color: #0d1117;
    padding: 30px 32px;
}

header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

header nav ul li a {
    color: #000000;
}

header img {
    width: 55px;
    height: 30px;
    color: #565757;
    margin-top: -10px;
    margin-right: -30px;
}

header nav ul {
    list-style: none;
    display: flex;
    text-align: left;
    gap: 40px;
}

header nav ul li {
    display: inline-block;
}

header .sign-in {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 8px;
    border-radius: 6px;
}
header .sign-up {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c6cace;
    padding: 8px 8px;
    border-radius: 6px;
}
header a:hover,
header .sign-in:hover,
header .sign-up:hover {
    color: #565757;
    cursor: pointer;
}

.container {
    margin-top: -10px;
    margin-left: 320px;
    margin-right: 0;
    padding: 0;
}











.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    margin-bottom: 20px;
    padding-top: 110px;
    font-weight: 700;
    font-size: 64px;
}

.text p {
    width: 1100px;
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
}

.text a button {
    background-color: #252525;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}










.box-claster {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

.box-claster .box1,
.box-claster .box2,
.box-claster .box3 {
    border: 1px solid #d1d5da;
    border-radius: 16px;
    padding: 20px 10px;
    width: 400px;
    height: 1000px;
    text-align: center;
}

.box-claster .box1 p,
.box-claster .box2 p,
.box-claster .box3 p {
    font-size: 20px;
}

.box-claster .box1 .price,
.box-claster .box2 .price {
    margin-top: 55px;
}

.price {
  font-size: 23px;
  color: #0d1117;
}

.currency {
  font-weight: 500;
  margin-right: 5px;
  opacity: 0.7;
}

.amount {
  font-size: 60px;
  margin-top: -10px;
}

.unit {
  font-size: 32px;
  font-weight: 600;
}

.period {
  font-size: 1.25rem;
  color: #57606a;
}


.box-claster .box3 .starting-at {
    background-color: #ffffff;
    color: #57606a;
    border: 1px solid #d1d5da;
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 16px;
    font-size: 18px;
    width: 140px;
}

.box-claster button {
    width: 325px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #d1d5da;
    padding: 15px 40px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}

.box-claster .box2 button,
.box-claster .box3 .start-free-trial {
    background-color: #37383b;
    color: #ffffff;
    border: none;
}


.features-list {
    margin-top: 30px;
    color: #37383b;
    text-align: left;
    padding: 0 10px;
}

.list-header {
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.feature-item {
    font-size: 20px;
    color: #57606a;
    font-weight: 600;
    padding: 12px 10px;
    display: flex;
}
.feature-item:hover {
    background-color: #f6f8fa;
}
.feature-item span {
    display: inline-block;
    transition: transform 0.2s ease;
    margin-right: 10px;
    width: 12px;
}


summary {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 10px;
    color: #1f2328;
}
summary span {
    margin-right: 10px;
    color: #57606a;
    transition: transform 0.2s ease;
    display: inline-block;
}
details[open] summary span {
    transform: rotate(90deg);
}
.feature-description {
    padding: 0 10px 15px 32px;
    font-size: 14px;
    line-height: 1.5;
    color: #57606a;
}


.dop-item {
    font-size: 12px;
    color: #57606a;
    margin-top: 2px;
    font-weight: 400;
}

.feature-header {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.feature-item span {
    margin-right: 10px;
    color: #57606a;
    font-size: 18px;
    width: 15px;
}

.blue-label {
    color: #0969da;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0 10px 10px;
}

.box-claster .box1,
.box-claster .box2,
.box-claster .box3 {
    height: auto;
    min-height: 800px;
    padding-bottom: 30px;
}

.box-claster .box1 .dop-item,
.box-claster .box2 .dop-item,
.box-claster .box3 .dop-item {
    font-size:16px;
    display: contents;
}











.nav-item-dropdown {
    position: relative;
}

.mega-menu {
    display: none;
    position: absolute;
    top: 30%;
    background: white;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(149,157,165,0.2);
    padding: 24px;
    z-index: 100;
    margin-top: 20px;
    width: 600px;
    
}

.nav-item-dropdown:hover .mega-menu {
    display: block;
}

.menu-grid {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 180px;
    text-align: left;
}

.explore-col {
    border-left: 1px solid #d1d5da;
    padding-left: 20px;
    line-height: 1.5;
}

.explore-col a {
    margin-top: 20000px;
}

.menu-column h3 {
    font-size: 12px;
    color: #57606a;
    margin-bottom: 12px;
}

.menu-item:hover .item-title,
.menu-item:hover .item-desc {
    color: #0969da;
}

.simple-link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #1f2328;
    margin-bottom: 12px;
    transition: color 0.2s;
}

.simple-link:hover,
.explore-col a:hover,
.menu-footer a:hover {
    color: #0969da;
}

.menu-item {
    display: block;
    margin-bottom: 16px;
}

.item-title {
    font-size: 14px;
    font-weight: 600;
    color: #1f2328;
    transition: color 0.2s;
}

.item-desc {
    font-size: 12px;
    color: #57606a;
}

.new {
    font-size: 10px;
    color: #0969da;
    padding: 2px 6px;
}

.menu-footer {
    margin-top: 20px;
    border-top: 1px solid #d1d5da;
    text-align: left;
    background-color: rgb(216, 214, 214);
    padding: 10px;
    width: 109%;
    margin: 0 -25px;
    margin-bottom: -25px;
}











.compare-main-title {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    margin: 80px 0 40px 0;
    color: #1f2328;
}

.compare-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto 100px auto;
}

.compare-card {
    border: 1px solid #d1d5da;
    border-radius: 12px;
    padding: 24px;
    text-align: left;

    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}

.compare-card:hover {
    box-shadow: 0 12px 28px rgba(149,157,165,0.2); 
    transform: scale(1.03); 
}

.compare-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #1f2328;
    transition: color 0.2s;
}

.card-desc {
    font-size: 16px;
    color: #57606a;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-link {
    font-size: 14px;
    font-weight: 600;
    color: #1f2328;
}