* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
        }

        .main-section {
            position: relative;
            min-height: 100vh;
        }


        .logo-section {
            padding: 175px 110px;
            width: 800px;
            text-align: left;
        }
        .logo-section p {
            color: #282828;
            font-size:30px;
            margin: 30px;
            margin-top: -20px;
        }
        .logo-section img {
            width: 330px;
        }


        .login-section {
            position: absolute;
            top: 23%;
            left: 57%;
        }
        .login-box {
            background-color: #ffffff;
            padding-bottom: 35px;
            padding-top: 20px;
            border-radius: 12px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
            width: 400px;
            height: 350px;
            flex-direction: column;
            text-align: center;
        }

        .login-box input {
            width: 380px;
            height: 50px;
            font-size: 18px;
            border-radius: 6px;
            border: 1px solid #e3e4e7;
            padding: 5px;
            margin-bottom: 20px;
        }
        .login-box input:active {
            border-color: #1975ee;
            box-shadow: 0 0 0 3px rgba(25, 117, 238, 0.3);
        }


        .login-box button {
            height: 47px;
            border-radius: 6px;
            border: none;
            color: white;
        }

        .login-button {
            width: 375px;
            background-color: #1975ee;
            font-size: 22px;
            margin-bottom: 20px;
        }
        .login-button:hover {
            background-color: #166fe5;
            box-shadow: 0 0 0 3px rgba(25, 117, 238, 0.3);
        }

        .forgot-password {
            font-size: 14px;
            color: #1975ee;
            text-decoration: none;
        }
        .forgot-password:hover {
            text-decoration: underline;
        }

        .login-box hr {
            margin: 20px 20px;
        }

        .create-acc-button {
            background-color: #0db818;
            font-size: 18px;
            width: fit-content;
            padding: 0 20px;
            margin-bottom: 20px;
        }
        .create-acc-button:hover {
            background-color: #0db101;
            box-shadow: 0 0 0 3px rgba(7, 147, 65, 0.55);
        }


        .login-section p {
            font-size: 14px;
            color: #282828;
            margin-top: 30px;
            width: 400px;
            text-align: center;
        }
        .create-page {
            color: #000000;
            text-decoration: none;
        }
        .create-page:hover {
            text-decoration: underline;
        }





        .footer {
            background: white;
            padding: 25px 11%;
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #737373;
            text-align: left;
        }

        .footer-langs,
        .footer-links {
            line-height: 1.6;
            padding-bottom: 10px;
            margin-bottom: 10px;
            color: #515151;
        }

        .footer-langs {
            border-bottom: 1px solid #dddfe2;
        }

        .footer-copy {
            margin-top: 10px;
            font-size:12px;
        }
        
