<div class="card">
  <div class="gallery">
    <img [src]="product.images[selectedImgIndex]" class="main-img">
    
    <div class="thumbs">
      @for (img of product.images; track img; let i = $index) {
        <img [src]="img" 
            (click)="selectedImgIndex = i" 
            [class.active]="i === selectedImgIndex">
      }
    </div>
  </div>

  <h3>{{ product.name }}</h3>
  <p class="description">{{ product.description }}</p>
  
  <div class="footer">
    <span>{{ product.price | number }} ₸</span>
    <span>⭐ {{ product.rating }}</span>
    <span style="color: #f14635;">❤ {{ product.likes }}</span>
  </div>

  <div class="actions">
    <button (click)="like()" class="like-btn">Like</button>
    <button (click)="delete()" class="delete-btn">Delete</button>
    <a [href]="product.link" target="_blank" class="buy">Kaspi</a>

    <div class="share-container">
    <div class="share-links">
      <a [href]="shareWA" target="_blank" class="share-btn wa">WA</a>
      <a [href]="shareTG" target="_blank" class="share-btn tg">TG</a>
    </div>
  </div>
  </div>
</div>